<center>
    <h1>Discover</h1>
    <% @recipes.each do |r| %>

        <div style="border: solid black 1px">

            <% difference = (DateTime.now.utc - r.created_at).to_i %>
            <% if difference < 60 %>
            <%= difference.to_s + "s"%>
            <% elsif difference < 60*60 %>
            <%= (difference/60).to_s + "m"%>
            <% elsif difference < 60*60*24 %>
            <%= (difference/(60*60)).to_s + "h" %>
            <% elsif difference < 60*60*24*7 %>
            <%= (difference/(60*60*24)).to_s + "g" %>
            <% elsif difference < 60*60*24*7*52 %>
            <%= (difference/(60*60*24*7)).to_s + "w" %>
            <% else %>
            <%= (difference/(60*60*24*7*52)).to_s + "y" %>
            <% end %>
            
            <% u = User.find(r.user_id) %>  <!--trovo l'utente che ha scritto la ricetta-->
            <% url="/users/" + r.user_id.to_s %>    <!--creo il link-->
            <h2><span>
                <% if u.profile_img.attached? %>
                    <img src="<%= url_for(u.profile_img) %>" height="40px">
                <% else %>
                    <img src="<%= u.img %>" height="40px">
                <% end %>
                <a href=<%= url %>><%= u.username %></a>  <!--username cliccabile - titolo-->
            </span></h2>

            <% url_recipe="/users/" + r.user_id.to_s + "/recipes/" + r.id.to_s %>    <!--creo il link-->
            <a href=<%= url_recipe %>>
                <img src="<%= url_for(r.image) %>" height=400px>
            </a><br>

            <h2><%= r.title %></h2>
            
            <p><%= r.n_likes %> likes</p>
            <p><%= r.n_comments %> comments</p>
            
        </div>

    <% end %>
</center>