<center>
    <h1>Discover</h1>
    <% @recipes.each do |r| %>

        <div style="border: solid black 1px">
            
            <% u = User.find(r.user_id) %>  <!--trovo l'utente che ha scritto la ricetta-->
            <% url="/users/" + r.user_id.to_s %>    <!--creo il link-->
            <h2><span>
                <img src="<%= u.img %>" height="40px">
                <a href=<%= url %>><%= u.username %></a>  <!--username cliccabile - titolo-->
            </span></h2>

            <% url_recipe="/users/" + r.user_id.to_s + "/recipes/" + r.id.to_s %>    <!--creo il link-->
            <a href=<%= url_recipe %>>
                <img src="<%= r.img %>" height=400px>
            </a><br>
            
            <p><%= Like.where(recipe_id: r.id).length %> likes</p>

            <h2><%= r.title %></h2>
            
        </div>

    <% end %>
</center>