%h2 Edit recipe

= form_tag user_recipe_path(current_user.id, @recipe.id), :method => :put do

  = label :recipe, :title, 'Title'
  = text_field :recipe, :title

  = label :recipe, :preparazione, 'Preparation'
  = text_field :recipe, :preparazione

  = label :recipe, :img, 'Image'
  = text_field :recipe, :img
  <br/><br/>
  = submit_tag 'Save changes'