<center>
        <br><h2 class="bree">Edit Recipe</h2><br>

        <div class="container text-center" style="width: 600px">
                <%= form_tag user_recipe_path(current_user.id, @recipe.id), :method => :put, :multipart => true do %>
                        <b><label>Title</label><br>
                        <%= text_field(:recipe, :title) %><br>
                        <label>Ingredients</label><br>
                        <%= text_area(:recipe, :ingredients, rows: 8, cols: 55) %><br>
                        <label>Preparation</label><br>
                        <%= text_area(:recipe, :preparazione, rows: 8, cols: 55) %><br>
                        <label>Course</label><br>
                        <%= select(:recipe, :course,    [['', ''],
                                                        ['Breakfast', 'Breakfast'],
                                                        ['Appetizer', 'Appetizer'], 
                                                        ['Finger Food', 'Finger Food'],
                                                        ['First course', 'First course'],
                                                        ['Soup', 'Soup'],
                                                        ['Pizza', 'Pizza'],
                                                        ['Second course', 'Second course'],
                                                        ['Bread', 'Bread'],
                                                        ['Side course', 'Side course'],
                                                        ['Salad', 'Salad'],
                                                        ['Sauce', 'Sauce'],
                                                        ['Snack', 'Snack'],
                                                        ['Drink', 'Drink'],
                                                        ['Dessert', 'Dessert'],
                                                        ['Fruit', 'Fruit']]) %><br>
                        <label>Diet</label><br>
                        <%= select(:recipe, :category, [['', ''],
                                                        ['Gluten Free', 'Gluten Free'],
                                                        ['Ketogenic', 'Ketogenic'], 
                                                        ['Vegetarian', 'Vegetarian'],
                                                        ['Lacto-Vegetarian', 'Lacto-Vegetarian'],
                                                        ['Ovo-Vegetarian', 'Ovo-Vegetarian'],
                                                        ['Vegan', 'Vegan'],
                                                        ['Pescetarian', 'Pescetarian'],
                                                        ['Paleo', 'Paleo'],
                                                        ['Primal', 'Primal'],
                                                        ['Whole30', 'Whole30']]) %><br>
                        <label>Intolerances</label><br>
                        <%= select(:recipe, :intolerance, [['', ''],
                                                        ['Dairy', 'Dairy'],
                                                        ['Egg', 'Egg'], 
                                                        ['Gluten', 'Gluten'],
                                                        ['Grain', 'Grain'],
                                                        ['Peanut', 'Peanut'],
                                                        ['Seafood', 'Seafood'],
                                                        ['Sesame', 'Sesame'],
                                                        ['Shellfish', 'Shellfish'],
                                                        ['Soy', 'Soy'],
                                                        ['Sulfite', 'Sulfite'],
                                                        ['Tree Nut', 'Tree Nut'],
                                                        ['Wheat', 'Wheat']]) %><br><br>
                        <!-- rating -->
                        <span id="icons" class="rating">
                        <input type="radio" id="recipe_price_5" name="recipe[price]" value="5" />
                        <label class="dimensione" for="recipe_price_5" title="Five">&#128178;</label>
                        <input type="radio" id="recipe_price_4" name="recipe[price]" value="4" />
                        <label class="dimensione" for="recipe_price_4" title="Four">&#128178;</label>
                        <input type="radio" id="recipe_price_3" name="recipe[price]" value="3" />
                        <label class="dimensione" for="recipe_price_3" title="Three">&#128178;</label>
                        <input type="radio" id="recipe_price_2" name="recipe[price]" value="2" />
                        <label class="dimensione" for="recipe_price_2" title="Two">&#128178;</label>
                        <input type="radio" id="recipe_price_1" name="recipe[price]" value="1" />
                        <label class="dimensione" for="recipe_price_1" title="One">&#128178;</label>
                        <input type="radio" id="recipe_price_0" name="recipe[price]" value="1" checked />
                        <label for="recipe_price_0" title="Zero">Price</label>
                        </span><br>

                        <!-- difficulty -->
                        <span id="icons" class="rating">
                        <input type="radio" id="recipe_difficulty_5" name="recipe[difficulty]" value="5" />
                        <label class="dimensione" for="recipe_difficulty_5" title="Five">👨‍🍳</label>
                        <input type="radio" id="recipe_difficulty_4" name="recipe[difficulty]" value="4" />
                        <label class="dimensione" for="recipe_difficulty_4" title="Four">👨‍🍳</label>
                        <input type="radio" id="recipe_difficulty_3" name="recipe[difficulty]" value="3" />
                        <label class="dimensione" for="recipe_difficulty_3" title="Three">👨‍🍳</label>
                        <input type="radio" id="recipe_difficulty_2" name="recipe[difficulty]" value="2" />
                        <label class="dimensione" for="recipe_difficulty_2" title="Two">👨‍🍳</label>
                        <input type="radio" id="recipe_difficulty_1" name="recipe[difficulty]" value="1" />
                        <label class="dimensione" for="recipe_difficulty_1" title="One">👨‍🍳</label>
                        <input type="radio" id="recipe_difficulty_0" name="recipe[difficulty]" value="1" checked />
                        <label for="recipe_difficulty_0" title="Zero">Difficulty</label>
                        </span><br>
                        <label>Time</label><br>
                        <%= select(:recipe, :time, [['15m', 15],
                                                        ['30m', 30],
                                                        ['45m', 45], 
                                                        ['1h', 60],
                                                        ['1h30m', 90],
                                                        ['2h', 120],
                                                        ['2h30m', 150],
                                                        ['3h', 180],
                                                        ['4h', 240],
                                                        ['5h', 300],
                                                        ['6h', 360],
                                                        ['7h', 420],
                                                        ['More', 1000]]) %><br></b>
                        <br><button class="btn btn-orange" type="submit">Save changes</button>
                <% end %>
        </div>
<center>