%h2 Add a recipe

= form_tag user_recipes_path, :method => :post do

  = label :recipe, :title, 'Title'
  = text_field :recipe, :title

  = label :recipe, :preparazione, 'Preparation'
  = text_field :recipe, :preparazione

  = label :recipe, :img, 'Image'
  = text_field :recipe, :img
  <br/><br/>
  = submit_tag 'Add recipe'