<center>
    <% if current_user.id.to_s == params[:user_id] %>
        <%= link_to "Edit post", edit_user_recipe_path(current_user.id, @recipe.id) %> - 
        <%= link_to "Remove post", user_recipe_path(current_user.id, @recipe.id), data: { confirm: "Are you sure?" }, :method => :delete %><br>
    <% else %>
    <% end %>

    <!-- title -->
    <h1><%= @recipe.title %></h1>
    <!-- img -->
    <img src="<%= url_for(@recipe.image) %>" height="600px"><br>
    <!-- datetime -->
    <% difference = (DateTime.now.utc - @recipe.created_at).to_i %>
        <% if difference < 60 %>
        <%= difference.to_s + "s"%>
        <% elsif difference < 60*60 %>
        <%= (difference/60).to_s + "m"%>
        <% elsif difference < 60*60*24 %>
        <%= (difference/(60*60)).to_s + "h" %>
        <% elsif difference < 60*60*24*7 %>
        <%= (difference/(60*60*24)).to_s + "g" %>
        <% elsif difference < 60*60*24*7*52 %>
        <%= (difference/(60*60*24*7)).to_s + "w" %>
        <% else %>
        <%= (difference/(60*60*24*7*52)).to_s + "y" %>
    <% end %><br>
    <!-- likes -->
    <span>
        <div class="popup" onclick="showLikes()"><%= @recipe.n_likes %> likes
            <span class="popuptext" id="myPopup">
                <% Like.all.each do |l| %>
                    <% if l.recipe_id.to_s == params[:id]%>
                        <% if User.find(l.user_id).profile_img.attached? %>
                            <img src="<%= url_for(User.find(l.user_id).profile_img) %>" height="20px">
                        <% else %>
                            <img src="<%= User.find(l.user_id).img %>" height="20px">
                        <% end %>
                        <a href="/users/<%= l.user_id %>"><%= User.find(l.user_id).username %></a>
                    <% end %>
                    <br>
                <% end %>
            </span>
        </div>
        <br><br>
        <!-- likes buttons -->
        <% if Like.exists?(user_id: current_user.id, recipe_id: @recipe.id) %>
            <%= button_to "Remove like", remove_like_path(current_user.id, @recipe.id), :method => :delete %>
        <% else %>
            <%= button_to "Like", like_path(current_user.id, @recipe.id), :method => :get %>
        <% end %>
    </span>
    <!-- preparazione -->
    <p><%= @recipe.preparazione %></p><br>

    <hr>
    <!-- comments -->
    <div><%= @recipe.n_comments %> comments<br>
        <% Comment.all.each do |c| %>
            <% if c.recipe_id.to_s == params[:id]%>
                <% if User.find(c.user_id).profile_img.attached? %>
                    <img src="<%= url_for(User.find(c.user_id).profile_img) %>" height="20px">
                <% else %>
                    <img src="<%= User.find(c.user_id).img %>" height="20px">
                <% end %>
                <a href="/users/<%= c.user_id %>"><%= User.find(c.user_id).username %></a>
                <% difference = (DateTime.now.utc - c.created_at).to_i %>
                    <% if difference < 60 %>
                    <%= difference.to_s + "s"%>
                    <% elsif difference < 60*60 %>
                    <%= (difference/60).to_s + "m"%>
                    <% elsif difference < 60*60*24 %>
                    <%= (difference/(60*60)).to_s + "h" %>
                    <% elsif difference < 60*60*24*7 %>
                    <%= (difference/(60*60*24)).to_s + "g" %>
                    <% elsif difference < 60*60*24*7*52 %>
                    <%= (difference/(60*60*24*7)).to_s + "w" %>
                    <% else %>
                    <%= (difference/(60*60*24*7*52)).to_s + "y" %>
                <% end %>
                <% if current_user.id == c.user_id %>
                    <%= button_to "X", remove_comment_path(c.user_id, c.recipe_id, c.id), :method => :delete %>
                <% end %>
                <p><%= c.body %></p>
            <hr><% end %>
            <br>
        <% end %>
    </div>
    <hr>
    <!-- add comment -->
    <%= form_tag create_comment_path(current_user.id, @recipe.id), :method => :post do %>
        <%= text_field(:comment, :body) %>
        <button type="submit">Post</button>
    <% end %>

</center>

<script>
//popup
function showLikes() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>