<center>
    <div class="row">
        <div class="col-lg">
        </div>
        <div class="col-lg">
            <br><h1 class="bree">Favourites</h1>
        </div>
        <div class="col-lg">
        </div>
    </div>
    
       
            <% if @favourites.to_a.length==0 %>
                <p>You still haven't added recipes in your favourites :(</p>
            <% end %>

            <% @favourites.each do |f| %>
                <div class="container"  style="border: solid lightgrey 1px; background-color: #fff8e5; border-radius: 5px"><br>
                    <% r = Recipe.find(f.recipe_id) %>
                    <% u = User.find(r.user_id) %>
                    <% url="/users/" + r.user_id.to_s %>    <!--creo il link-->
                    <h3><span>
                        <% if u.profile_img.attached? %>
                            <%= image_tag u.profile_img, :style => "height: 40px" %>
                        <% else %>
                            <%= image_tag u.img, :style => "height: 40px" %>
                        <% end %>
                        <a class="no_decoration bree" href=<%= url %>><%= u.username %></a>  <!--username cliccabile - titolo-->
                    </span></h3>
                    <!-- img -->
                    <% url_recipe="/users/" + r.user_id.to_s + "/recipes/" + r.id.to_s %>    <!--creo il link-->
                    <a href=<%= url_recipe %>>
                        <%= image_tag r.image, :style => "object-fit: cover; max-height: 600px; width: 600px;" %>
                    </a><br>
                    <!-- title -->
                    <h3 class="bree"><%= r.title %></h3>
                    <br>
                </div>
                <br>
            <% end %>
        
    
</center>