<!DOCTYPE html>
<html>
  <head>
    <title>FoodFeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
    //popup
    function showNotifications() {
      var popup2 = document.getElementById("myPopup2");
      popup2.classList.toggle("show");
    };
  </script>
  </head>

  <body>

  <% if user_signed_in? %>

    <nav name="top" class="navbar navbar-expand-md fixed-top navtop">
        <!--crea il bottone del menu a tendina quando rimpicciolisco la pagina web-->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#barra_navigazione">
            <span class="navbar-toggler-icon"></span>
      </button>
                                            
      <div class="collapse navbar-collapse" id="barra_navigazione"><!--id deve essere uguale a data-target-->
        <ul class="navbar-nav rosso">
            <li align="left">
                <img onclick="location.href='/homepage'" class="iconahome" src="/images/logo.png" height="60px"/>
            </li>
            <li class="nav-item link-pad">
                <a class="nav-link" href="/discover/1" style="font-size: larger;">Discover</a>
            </li>
            <li class="nav-item link-pad">
                <a class="nav-link" href="/dailyrecipe" style="font-size: larger;">Daily Recipe</a>
            </li>
            <li class="nav-item link-pad">
                <a class="nav-link" href="/top" style="font-size: larger;">Top Recipes of the week</a>
            </li>
            <li class="nav-item link-pad">
                <a class="nav-link" href="/contact" style="font-size: larger;">Contact</a>
            </li>
            <% if current_user.role!="U" %>
              <li class="nav-item link-pad">
                <a class="nav-link" href="/users" style="font-size: larger;">Show all Users</a>
              </li>
            <% end %>
        </ul>
        <!--destra-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-link giu">
              <%= form_tag search_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:search], placeholder: 'Search users' %>
                  <%= submit_tag "ðŸ”", :name => nil %>
              <% end %>
            </li>
            <!--notification-->
            <li class="nav-item giu">
              <span>
                  <b><button style="font-size:large" class="btn btn-xs" data-toggle="modal" data-target="#selezioneNotifiche" type="button"><b>ðŸ”” <%= Notification.where(user_id: current_user.id, read: false).length %></b></button></b>                
              </span>
            </li>
              <!--profile-->
            <li class="nav-item">
              <a id="Profile" name="Profile" class="nav-link" href="/users/<%= current_user.id %>">
                <% if current_user.profile_img.attached? %>
                    <%= image_tag current_user.profile_img, :style => "height: 30px" %>
                <% else %>
                    <%= image_tag current_user.img, :style => "height: 30px" %>
                <% end %>
              </a>
            </li>
        </ul>
      </div>
    </nav>
  <% end %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  
    <% if user_signed_in? %>
    <br><br>
      <footer style="background-color: #ff8a65; bottom: 0; width: 100%">
        <div class="footer"><b>FoodFeed | Giovanni Pecorelli, Jacopo Rossi</b></div>
      </footer>
    <% end %>

  <% if user_signed_in? %>
  <div class="modal" id="selezioneNotifiche" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><p>Notifications</p></h3>
                <button style="color:black" type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                  <% Notification.where(user_id: current_user.id).last(5).reverse.each do |n| %>
                    <% if n.read==false %>
                      <% sender=User.find(n.sender_id)%>
                      <% if n.notification_type=="like" %>
                        <%= link_to sender.username+" liked your recipe", remove_notification_path(n.id), :class => "not_read_notification row no_decoration" %>
                      <% elsif n.notification_type=="comment" %>
                        <%= link_to sender.username+" commented your recipe",  remove_notification_path(n.id), :class => "not_read_notification row no_decoration" %>
                      <% else %> 
                        <%= link_to sender.username+" followed you", remove_notification_path(n.id), :class => "not_read_notification row no_decoration" %>
                      <% end %>
                    <% else %>
                      <% sender=User.find(n.sender_id)%>
                      <% if n.notification_type=="like" %>
                        <a class="read_notification row no_decoration" href="/users/<%= n.user_id %>/recipes/<%= n.recipe_id %>"><%= sender.username %> liked your recipe</a>
                      <% elsif n.notification_type=="comment" %> 
                        <a class="read_notification row no_decoration" href="/users/<%= n.user_id %>/recipes/<%= n.recipe_id %>"><%= sender.username %> commented your recipe</a>
                      <% else %> 
                        <a class="read_notification row no_decoration" href="/users/<%= n.sender_id %>"><%= sender.username %> started following you</a>
                      <% end %>
                    <% end %>
                  <% end %>
                  <a class="row no_decoration" style="background-color: #ff8a65; padding-left: 15px;" href="/users/<%= current_user.id %>/notifications">Show all notifications</a>
            </div>
        </div>
    </div>
  </div>
  <% end %>
  </body>

</html>